<!-- badge_thirdO -->

{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- if current_variant.compare_at_price > current_variant.price -%}
  {%- assign discount_amount = current_variant.compare_at_price | minus: current_variant.price -%}
  {%- assign discount_percent = discount_amount | times: 100 | divided_by: current_variant.compare_at_price | round -%}
{%- endif -%}

{% comment %} <div class="discount-percent-thirdO">Save 20%</div> {% endcomment %}
{% comment %} {% if product.metafields.custom.isbundle.value == 'true' %}
  <div class="discount-percent-thirdO">Save 25%</div>
{% else %}
  <div class="discount-percent-thirdO">Save 15%</div>
{% endif %} {% endcomment %}
