<!-- badge_third0-meta-shortDes -->
{% comment %}<p class="product-page-subtitle">{{ product.metafields.Custom.we_product_subtitle_text }}</p>{% endcomment %}
<p class="product-page-one-liner">{{ product.metafields.custom.product_3_0_short_description.value }}</p>

<style>
    .product-page-subtitle{
        font-style: oblique;
        font-weight: 500;
        padding: 4px 0px;
        margin: 0px;
    }

    p.product-page-one-liner {
        margin: 0px;
        line-height: 22px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
</style>
