<!-- badge_third0-meta-shortDes -->
{% comment %}<p class="product-page-subtitle">{{ product.metafields.Custom.we_product_subtitle_text }}</p>{% endcomment %}
<p class="product-page-one-liner">{{ product.metafields.custom.product_3_0_short_description.value }}</p>

<style>
   {% comment %}
         .new-title-ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 12px;
        margin-top: 8px;
      }

      .new-title-ul li {
        list-style: none;
        margin: 3px;
        background-color: #e2edef;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 4px;
        color: #374650;
        font-family: "Lato";
    }
  {% endcomment %}
    .product-page-subtitle{
        font-style: oblique;
        font-weight: 500;
        padding: 4px 0px;
        margin: 0px;
    }

    p.product-page-one-liner {
        margin: 0px;
        line-height: 22px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
</style>
