<!-- cart-page-recommended -->
{% assign has_recommended_products = false %}
<div class="container quick_cart_similar_update" id="template-{{ template.name | handle }}">
  {% if section.settings.heading != blank %}
    <div class="halo-block-header text-left block-title--style4 ">
      <h3 class="title">
        <span class="text">{{ section.settings.heading }}</span>
      </h3>
    </div>
  {% endif %}
  <div
    class="cart_recomended cart_slider "
  >
    {% assign displayed_product_titles = '' %}

    {% for item in cart.items %}
      {% assign collection = item.product.metafields.custom.similar_product_on_quick_cart.value %}
      {% assign displayed_variant_ids = '' %}

      {% for product in collection %}
        {% assign cart_product_ids = cart.items | map: 'variant_id' %}

        {% unless cart_product_ids contains product.selected_or_first_available_variant.id
          or displayed_variant_ids contains product.selected_or_first_available_variant.id
        %}
          {% unless displayed_product_titles contains product.title %}
            {% capture displayed_product_titles %}{{ displayed_product_titles }},{{ product.title }}{% endcapture %}

            {% if localization.available_countries.size > 1 %}
              {% assign currency = localization.country.currency.iso_code %}
              {% if currency == 'USD'
                or currency == 'CZK'
                or currency == 'AUD'
                or currency == 'DKK'
                or currency == 'EUR'
                or currency == 'GBP'
              %}
                {% assign show_product = true %}

                {% if currency == 'DKK'
                  or currency == 'AUD'
                  or currency == 'CZK'
                  or currency == 'EUR'
                  or currency == 'GBP'
                %}
                  {% for tag in product.tags %}
                    {% if tag == 'NOT_FOR_DDK'
                      or tag == 'NOT_FOR_AUD'
                      or tag == 'NOT_FOR_CZK'
                      or tag == 'NOT_FOR_EUR'
                      or tag == 'NOT_FOR_GBP'
                    %}
                      {% assign show_product = false %}
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% if show_product %}
                  {% for tag in product.tags %}
                    {% if tag == 'usa-bundle' %}
                      {% if product.price > 0 %}
                        {% assign has_recommended_products = true %}
                        {% render 'cart-similar-quick', product: product %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% elsif currency == 'CAD' %}
                {% for tag in product.tags %}
                  {% if tag == 'ca_bundle' %}
                    {% assign has_recommended_products = true %}
                    {% if product.price > 0 %}
                      {% render 'cart-similar-quick', product: product %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  </div>
  {% unless has_recommended_products %}
    <script>
      document.querySelector('.quick_cart_similar_update').style.display = 'none';
    </script>
  {% endunless %}
</div>
<script>
   window.addEventListener("DOMContentLoaded", function () {
    if (typeof jQuery !== "undefined") {
      const $slider = jQuery(".template-cart .cart_slider");
        if ($slider.children().length > 3) {
        $slider.slick({
          autoplay: true,
          dots: true,
          infinite: true,
          speed: 1500,
          slidesToShow: Math.min(5, $slider.children().length),
          slidesToScroll: 1,
          arrows: false,
          responsive: [
            {
              breakpoint: 1400,
              settings: {
                slidesToShow: Math.min(4, $slider.children().length),
                slidesToScroll: 1,
                dots: true,
                infinite: true,
              },
            },
            {
              breakpoint: 1200,
              settings: {
                slidesToShow: Math.min(3, $slider.children().length),
                slidesToScroll: 1,
                dots: true,
                infinite: true,
              },
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: Math.min(2, $slider.children().length),
                slidesToScroll: 1,
                dots: true,
                infinite: true,
              },
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: Math.min(2, $slider.children().length),
                slidesToScroll: 1,
                dots: true,
                infinite: true,
              },
            },
            {
              breakpoint: 319,
              settings: {
                slidesToShow: Math.min(1, $slider.children().length),
                slidesToScroll: 1,
                dots: true,
                infinite: true,
              },
            },
          ],
        });
      } else {
        console.log("Not enough items to initialize the slider.");
      }
    } else {
      const carousel = document.querySelector(".template-cart .cart_slider");
      if (carousel) {
        console.warn("jQuery is not loaded. Hiding the carousel.");
        carousel.style.display = "none";
      }
    }
  });
</script>
{% comment %}
  <script>
    $('button#cartrecommended').click(function () {
                 let productName = $(this).attr('data-product-title');
                       let productUrl = $(this).attr('data-product-url');
                    // Tracking event
                    _hsq.push([
                        'trackCustomBehavioralEvent',
                        {
                            name: "pe49007533_addtocart",
                            properties: {
                                hs_page_title: productName,
                                hs_page_url: productUrl
                            }
                        }
                    ]);
                 })
  </script>
{% endcomment %}
