<!-- clinician_banner_third0 -->
{{ product.metafields.custom.product_3_0_clinical_content.value }}

<div class="shipping-benefits">
  <div class="shipping-benefit"><span>10+ Clinically Studied Ingredients</span> | <span>Fast & Free Shipping</span> | <span>3rd-Party Tested</span></div>
  </div>

<style>
.shipping-benefits {
    
    flex-wrap: wrap;
    gap: 12px 0px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
    border-radius: 12px;
    justify-content: flex-start;
}

.shipping-benefit {
  display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #086B92;
    line-height: 1.5;
    padding-left: 5px;
}

</style>
