<!-- clinician_banner_third0 -->
{{ product.metafields.custom.product_3_0_clinical_content.value }}

<div class="shipping-benefits">
  <div class="shipping-benefit clinicalSlider">
    <span>10+ Clinically Studied Ingredients</span>
    <span>Fast & Free Shipping</span>
    <span>3rd-Party Tested</span></div>
  </div>

<style>
   @media(min-width:600px){
.shipping-benefits {
    gap: 12px 0px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 5px;
    border-radius: 12px;
    border: 1px solid #c1c1c13d;
}

.shipping-benefit {
    display: flex;
    font-family: 'Nunito';
    font-size: 15px;
    font-weight: 700;
    color: #000000a8;
    line-height: 1.5;
    padding-left: 5px;
    justify-content: space-between;
}
  }
  @media(max-width:600px){
    .shipping-benefits {
    gap: 12px 0px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 5px;
    border-radius: 12px;
    border: 1px solid #c1c1c13d;
}

    .shipping-benefit {
       display: grid;
    gap: 12px 0px;
    padding: 10px 5px;
    border-radius: 12px;
    justify-content: flex-start;
    border: 1px solid #c1c1c13d;
}
    .shipping-benefit span {
    padding-bottom: 4px;
      font-size: 13px;
    width: 100%;
}
  }

  </style>

<script>
$(document).ready(function () {
  let sliderInitialized = false;

  function handleSlider() {
    if ($(window).width() <= 800) {
      if (!sliderInitialized) {
        $('.clinicalSlider').slick({
          slidesToShow: 1,
          dots: true,
          arrows: false
        });
        sliderInitialized = true;
      }
    } else {
      if (sliderInitialized) {
        $('.my-slider').slick('unslick');
        sliderInitialized = false;
      }
    }
  }

  // Initial check
  handleSlider();

  // Recheck on window resize
  $(window).on('resize', handleSlider);
});
</script>
