<style>
  .container.free-shipping-container {
    background: #EEEEEE;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 1000vw;
  }

  .product-free-shipping-section {
    display: none; /* hide grid by default, shown only on desktop */
  }

  .shipping-slider {
    display: none; /* shown on mobile/tablet */
  }

  .shipping-item {
    display: flex !important;
    align-items: center;
    text-align: left;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
  }

  .shipping-item img {
    max-width: 50px;
  }

  .shipping-item p {
    font-size: 14px;
    color: #36454F;
    margin: 0;
  }

  /* Desktop layout (grid) */
  @media (min-width: 1024px) {
    .shipping-slider {
      display: none !important;
    }

    .product-free-shipping-section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      max-width: 1200px;
      margin: auto;
    }
  }

  /* Show slider on tablet/mobile */
  @media (max-width: 1023px) {
    .shipping-slider {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .shipping-item {
    flex-direction: column;
  }

  .shipping-item p {
    font-size: 13px;
    color: #36454F;
    margin: 0;
    text-align: center;
    line-height: 1.4;
  }
  }
</style>

<div class="container free-shipping-container">
  <!-- Slider for mobile/tablet -->
  <div class="shipping-slider">
    <div class="shipping-item">
      <!--
        <img
          data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Result_ori_50x.svg?v=1744106233"
          alt="Shipping"
          title=""
          width=""
          height=""
          class="lazyload"
        >
      -->
      <p>10+ Clinically Studied Ingredients</p>
    </div>
    <div class="shipping-item">
      <!--
        <img
          data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Award_50x.svg?v=1744106233"
          alt="Shipping"
          title=""
          width=""
          height=""
          class="lazyload"
        >
      -->
      <p>Award Winning Extraction Process</p>
    </div>
    <div class="shipping-item">
      <!--
        <img
          data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Clinically_50x.svg?v=1744106233"
          alt="Shipping"
          title=""
          width=""
          height=""
          class="lazyload"
        >
      -->
      <p>Result Oriented Formulations</p>
    </div>
    <div class="shipping-item">
      <!--
        <img
          data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Customer_50x.svg?v=1744106233"
          alt="Shipping"
          title=""
          width=""
          height=""
          class="lazyload"
        >
      -->
      <p>67% Repeat Customers</p>
    </div>
  </div>

  <!-- Grid for desktop -->
  <div class="product-free-shipping-section">
    <div class="shipping-item">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="48" viewBox="0 0 50 48" fill="none">
        <g clip-path="url(#clip0_592_540)">
          <path d="M44.2803 0.986094C44.2803 0.986094 21.8391 -2.59278 25.3793 19.8866C47.8587 23.4262 44.2803 0.986094 44.2803 0.986094Z" stroke="#086B92" stroke-width="1.5278" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M38.4157 6.84961L25.3792 19.8867" stroke="#086B92" stroke-width="1.5278" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5.72088 0.986094C5.72088 0.986094 28.1621 -2.59278 24.622 19.8866C2.14255 23.4262 5.72088 0.986094 5.72088 0.986094Z" stroke="#086B92" stroke-width="1.5278" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.3433 7.60864L24.6213 19.8867" stroke="#086B92" stroke-width="1.5278" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M26.4023 29.4336C26.0367 27.3449 25.6608 24.1534 25.5162 19.4844H24.4849C24.3098 25.1356 23.7958 28.6223 23.3718 30.6084C23.3718 30.6084 25.1975 30.0573 26.4023 29.4336Z" stroke="#086B92" stroke-width="1.5278" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M14.817 33.8427L7.66909 29.519C6.6016 28.8619 5.31685 28.6556 4.09729 28.9455C2.87774 29.2353 1.82322 29.9977 1.16557 31.0648C0.790679 31.6738 0.672914 32.4067 0.838154 33.1024C1.00339 33.7981 1.43812 34.3998 2.04678 34.7752L8.06359 38.4943L16.0365 43.4051C22.1477 47.17 30.5343 47.2922 36.5129 44.2983C36.5129 44.2983 42.1412 41.1559 49.2362 42.1081V27.9181L43.8343 24.9258C37.8077 21.5581 30.107 27.2819 30.107 27.2819C27.1726 29.2151 24.6953 30.4624 21.2802 31.1123C20.0099 31.354 18.4428 31.3365 17.28 31.8527C15.8341 32.4928 14.6653 33.5862 14.3003 35.168C14.0438 36.2784 14.5262 37.6665 15.4827 38.3126C16.7791 39.1856 18.7276 38.8795 20.1698 38.6945C23.7301 38.2378 27.2277 37.2682 30.5594 35.9434L30.6892 35.8916" stroke="#086B92" stroke-width="1.5278" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17.6027 31.7277L9.8448 27.1792C9.37754 26.8911 8.8581 26.6978 8.31615 26.6104C7.77419 26.523 7.22033 26.5433 6.68619 26.6699C6.15205 26.7966 5.64809 27.0272 5.20309 27.3487C4.75808 27.6701 4.38075 28.0761 4.09263 28.5433L3.88037 29" stroke="#086B92" stroke-width="1.5278" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M22.089 30.959L13.2092 25.7181C12.3604 25.1954 11.3528 24.993 10.368 25.1474C9.38316 25.3019 8.48589 25.8031 7.83789 26.5606" stroke="#086B92" stroke-width="1.5278" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_592_540">
            <rect width="50" height="47.1534" fill="white" transform="translate(0 0.0131836)"/>
          </clipPath>
        </defs>
      </svg>
      <p>10+ Clinically Studied Ingredients</p>
    </div>
    <div class="shipping-item">
      <!--
        <img
          data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Award_50x.svg?v=1744106233"
          alt="Shipping"
          title=""
          width=""
          height=""
          class="lazyload"
        >
      -->
      <p>Award Winning Extraction Process</p>
    </div>
    <div class="shipping-item">
      <!--
        <img
          data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Clinically_50x.svg?v=1744106233"
          alt="Shipping"
          title=""
          width=""
          height=""
          class="lazyload"
        >
      -->
      <p>Result Oriented Formulations</p>
    </div>
    <div class="shipping-item">
      <!--
        <img
          data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Customer_50x.svg?v=1744106233"
          alt="Shipping"
          title=""
          width=""
          height=""
          class="lazyload"
        >
      -->
      <p>67% Repeat Customers</p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.shipping-slider').slick({
      dots: true,
      infinite: true,
      arrows: false,
      speed: 300,
      slidesToShow: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2
          }
        }
      ]
    });
  });
</script>
