<!--  -->
{% assign benefitmetaobject = product.metafields.custom.product_3_0_benefits.value %}

{% if benefitmetaobject != blank %}
  <div class="health-benefits_thirdO">
    {% for benefit in benefitmetaobject %}
      <div class="benefit-item">
        <span class="content_benifits_img">
          <img
            class="health_benefits_img"
            src="{{ benefit.benefit_url.value }}"
            alt="{{ benefit.benefits_title.value }}"
            width=""
            height=""
            loading="lazy"
          >
        </span>
        <span class="content_benifits">{{ benefit.benefits_title.value }}</span>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% style %}
    .health-benefits_thirdO {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin: 20px auto;
  }

    .health-benefits_thirdO .benefit-item {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 30%;
      font-size: 16px;
      color: #2c2c2c;
    }

    .health-benefits_thirdO .benefit-item .content_benifits_img {
      font-size: 20px;
    }
{% endstyle %}
