<!-- product_benifit_third0 -->
{% assign benefitmetaobject = product.metafields.custom.product_3_0_benefits.value %}

{% if benefitmetaobject != blank %}
  <div class="health-benefits_thirdO">
    {% for benefit in benefitmetaobject %}
      <div class="benefit-item">
        <span class="content_benifits_img">
          <img
            class="health_benefits_img"
            src="{{ benefit.benefit_url.value }}"
            alt="{{ benefit.benefits_title.value }}"
            width=""
            height=""
            loading="lazy"
          >
        </span>
        <span class="content_benifits">{{ benefit.benefits_title.value }}</span>
      </div>
    {% endfor %}
  </div>
{% endif %}
