<!--  -->
<div class="health-benefits_third0">
  {% for benefit in product.metafields.custom.product_3_0_benefits.value %}
    <div class="benefit-item">
      <span class="icon">
        <img
          class="health_benefits_img"
          src="{{ benefit.benefit_url.value | img_url: '50x' }}"
          alt="{{ benefit.benefits_title.value }}"
          width=""
          height=""
          loading="lazy"
        >
      </span>
      <span>{{ benefit.benefits_title.value }}</span>
    </div>
  {% endfor %}
</div>
{% style %}
   .health-benefits_thirdO{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
  }

  .health-benefits_thirdO .benefit-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 30%;
    min-width: 160px;
    font-size: 16px;
    color: #2c2c2c;
  }

  .health-benefits_thirdO .benefit-item .icon {
    font-size: 20px;
  }
{% endstyle %}
