
   <!-- product-trusted-badge -->
<div class="trusted-badge__container trusted-badge__section-{{ section.id }}">
  <div class="trusted-badge__slider" id="trustedBadgeSlider">
    <div class="trusted-badge__item">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Rooted_in_Care_Tradition_80x.svg?v=1752210466"
        alt="Shipping"
        class="lazyload">
      <p>Rooted in Care<br>& Tradition</p>
    </div>

    <div class="trusted-badge__item">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/winning_4677758_1.svg?v=1752210466"
        alt="Shipping"
        class="lazyload">
      <p>Award Winning <br>Extraction Process</p>
    </div>

    <div class="trusted-badge__item">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Group_1000004387.svg?v=1752210466"
        alt="Shipping"
        class="lazyload">
      <p>Premium Patented <br>Ingredients</p>
    </div>

    <div class="trusted-badge__item">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Frame_1618873224.svg?v=1752210466"
        alt="Shipping"
        class="lazyload">
      <p>Expert<br>Formulated</p>
    </div>

    <div class="trusted-badge__item">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/background.svg?v=1752210466"
        alt="Shipping"
        class="lazyload">
      <p>Science-Backed <br>Formulations</p>
    </div>

    <div class="trusted-badge__item">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Exclude.svg?v=1752210466"
        alt="Shipping"
        class="lazyload">
      <p>Health Canada <br>Registered GMP Facility</p>
    </div>

    <div class="trusted-badge__item">
      <img
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Heading_3_Earn_yield.svg?v=1752212970"
        alt="Shipping"
        class="lazyload">
      <p>Approved (Generally<br>Recognized As Safe)</p>
    </div>
  </div>
</div>

    <style>
  .trusted-badge__slider {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.trusted-badge__container {
  background: #EEEEEE;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px 40px;
  max-width: 1000vw;
}

.trusted-badge__item {
  gap: 10px;
  margin: 0 10px;
  padding: 15px 30px;
  overflow: hidden;
  scroll-snap-align: start;
  transition: transform 0.3s;
  position: relative;
}

.trusted-badge__item img {
  max-width: 50px;
  margin: auto;
  height: 50px;
}

.trusted-badge__item p {
  margin: 10px 0 0;
  color: #36454F;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

/* Medium screens */
@media (max-width: 768px) {
  .trusted-badge__item {
    flex-direction: column;
    text-align: center;
  }

  .trusted-badge__container {
    margin-top: 25px;
    border-radius: 0;
    padding: 10px 1px;
  }

  .trusted-badge__item p {
    font-size: 10.661px;
    line-height: normal;
    letter-spacing: 0.244px;
  }

  .trusted-badge__item img {
    max-width: 40px;
    height: 40px;
  }
}

/* Small screens */
@media (max-width: 550px) {
  .trusted-badge__container {
    margin-top: 25px;
  }

  .trusted-badge__item {
    gap: 10px;
    margin: 0 5px;
    padding: 5px 0;
            flex: 0 0 108px;
  }

  #trustedBadgeSlider .slick-slide {
    padding: 0;
  }
}

    }
    </style>
    <script>
    $(document).ready(function () {
    $(' #trustedBadgeSlider').slick({
    dots: false,
    infinite: true,
    arrows: false,
    speed: 700,
    autoplay: true,
    autoplaySpeed: 3000,
    slidesToShow: 5,
    
    responsive: [
    {
    breakpoint: 1200,
    settings: {
    slidesToShow: 4,
    }
    },
    {
    breakpoint: 800,
    settings: {
    slidesToShow: 4
    }
    },
    {
    breakpoint: 600,
    settings: {
    slidesToShow: 3
    }
    },
      {
       breakpoint: 310,
    settings: {
    slidesToShow: 2
    }
    }
    ]
    });
    });
    </script>
