<div class="founder-wrapper-section">
  <div class="about-founder-container container">
    <div class="about-founder-text-content">
      <h1>
        The man with a Vision and Mission
      </h1>
      <p>
        Virender Dass, the visionary Founder and Director of Wellness Extract, turned a personal mission into a global wellness movement helping people live healthier & happier lives.<br/><br/>
        His journey into the world of natural health began in 2015, not by choice but by a twist of fate. When his mother was diagnosed with cancer, he was determined to seek natural supplements to support her treatment. This quest led him to Dr. Barrie Tan, the world’s foremost expert on tocotrienols, whose guidance helped incorporate DeltaGold Tocotrienols into her regimen. The results were nothing short of miraculous—her health saw significant improvements alongside her conventional treatments.<br/><br/>
        This experience ignited Virender’s passion for health, prompting him to shift from VFX artist to founder of Wellness Extract. What began as a personal mission transformed into a global movement, as he dedicated himself to providing high-quality natural supplements.<br/><br/>
        Today, under his leadership and Dr. Tan’s continued guidance, Wellness Extract is a trusted name in natural health, committed to helping people lead healthier lives.
      </p>
    </div>
    <div class="about-founder-image-content">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Rectangle_41.png?v=1748243642" alt="Virender Dass" />
    </div>
  </div>
</div>

<style>
  .about-founder-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
   padding-top: 50px;

  }

  .founder-wrapper-section {
    background: linear-gradient(120deg, #0077a6, #006494);
  }

  .about-founder-text-content {
    flex: 1 1 400px;
  }

  .about-founder-text-content h1 {
    font-weight: 700;
    color: white;
    font-size: 34px;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  .about-founder-text-content h1 span {
    display: block;
  }

  .about-founder-text-content p {
    font-size: 16px;
    line-height: 1.8;
    color: white;
  }

  .about-founder-image-content {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
  }

  .about-founder-image-content img {
    width: 100%;
    /* max-width: 450px; */
    border-radius: 10px;
  }

  @media screen and (max-width: 768px) {
    .about-founder-container {
      flex-direction: column-reverse;
      text-align: center;
    }

    .about-founder-text-content h1 {
      font-size: 2rem;
    }

    .about-founder-image-content img {
      max-width: 250px;
    }
  }
</style>


{% schema %}
  {
    "name": "about founder new",
    "settings": [
      {
        "type": "image_picker",
        "id": "author_image",
        "label": "Author Image"
      },
      {
        "type": "text",
        "id": "author_name",
        "label": "Author Name",
        "default": "John Doe"
      },
      {
        "type": "text",
        "id": "author_role",
        "label": "Author Role",
        "default": "Author"
      },
      {
        "type": "text",
        "id": "author_email",
        "label": "Author Email",
        "default": "example@example.com"
      }, {
        "type": "url",
        "id": "author_linkedin",
        "label": "LinkedIn Profile"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Description Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Block Title",
            "default": "Block Title"
          }, {
            "type": "textarea",
            "id": "content",
            "label": "Block Content",
            "default": "Block content goes here."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "about founder new"
      }
    ]
  }
{% endschema %}