{% schema %}
{
  "name": "bundle info img",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "bundle information image",
      "category": "Image"
    }
  ]
}
{% endschema %}
<!-- bundle-page-informational-image -->
{% if product.handle contains 'bundle' %}
  {% if product.metafields.custom.bundle_product_table.value %}
    <section class="bundle-banner container">
      {% render 'product-table-dynamic',
        bundle_product_meta_table: product.metafields.custom.bundle_product_table.value
      %}
    </section>
  {% endif %}
{% endif %}
