{% schema %}
  {
    "name": "healthgoal shop section",
    "settings": [],
    "presets": [
      {
        "name": "healthgoal shop section"
      }
    ]
  }
{% endschema %}
<div class="wrapper">
  <h2>Lorem ipsum dolor sit amet.</h2>
  <div class="center-slider">
    <div class="image-sec-text">
      <img src="https://www.twtf.org.uk/wp-content/uploads/2024/01/dummy-image.jpg" alt="">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="image-sec-text">
      <img src="https://www.twtf.org.uk/wp-content/uploads/2024/01/dummy-image.jpg" alt="">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="image-sec-text">
      <img src="https://www.twtf.org.uk/wp-content/uploads/2024/01/dummy-image.jpg" alt="">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="image-sec-text">
      <img src="https://www.twtf.org.uk/wp-content/uploads/2024/01/dummy-image.jpg" alt="">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="image-sec-text">
      <img src="https://www.twtf.org.uk/wp-content/uploads/2024/01/dummy-image.jpg" alt="">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="image-sec-text">
      <img src="https://www.twtf.org.uk/wp-content/uploads/2024/01/dummy-image.jpg" alt="">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

<style>
  .wrapper {
    padding: 70px 0;
    max-width: 1200px;
    margin: auto;
  }

  .image-sec-text {
    display: flex;
    flex-direction: column;
  }

  .image-sec-text p {
    line-height: 1.1;
    text-align: center;
  }
  /* Default slide */
  .center-slider .slick-slide {
    border: 2px solid gray;
    /* height: 200px; */
    border-radius: 12px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
  }
  .center-slider .slick-slide,
  .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
    transform: scale(0.8, 0.8);
    transition: all 0.4s ease-in-out;
  }

  /* Active center slide (You can change anything here for cenetr slide)*/
  .center-slider .slick-center,
  .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    transform: scale(1);
    /* background-color: #000000; */
    border: 2px solid blue;
    border-radius: 12px;
  }
  .center-slider .slick-current.slick-active {
    transform: scale(1);
    /* background-color: #000000; */
  }

  .slick-arrow.slick-next {
    right: 15px;
  }

  .slick-next,
  .slick-prev {
    z-index: 5;
  }
  .slick-next {
    right: 15px;
  }
  .slick-prev {
    left: 15px;
  }
  .slick-next:before,
  .slick-prev:before {
    color: #000;
    font-size: 26px;
  }

  .slick-slide img {
    display: block;
    width: 50%;
    height: 100%;
  }
</style>

<script>
  $(document).ready(function(){
    $('.center-slider').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      centerMode: true,
      centerPadding: '20px',
      arrows: true,
      dots: false,
      speed: 300,
      infinite: true,
      autoplay: true,
      autoplaySpeed: 50000,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  });
</script>