{% schema %}
{
"name": "newsletter custom",
"settings": [
{
"type": "image_picker",
"id": "newsletter_image",
"label": "Newsletter Image"
},
{
"type": "color",
"id": "newslettertext",
"label": "title Color",
"default": "#374650"
},
{
"type": "color",
"id": "newslettersubtitle",
"label": "Subtitle Color",
"default": "#374650"
},
{
"type": "color",
"id": "newsletterbg",
"label": "Newsletter Bg",
"default": "#e6f0f4"
},
{
"type": "color",
"id": "newsletter_border",
"label": "Newsletter Border",
"default": "#fff"
},
{
"type": "text",
"id": "newsletter_title",
"label": "Newsletter Title",
"default": "Get 10% off your first order"
},
{
"type": "text",
"id": "newsletter_subtitle",
"label": "Newsletter subtitle ",
"default": "Receive discounts, updates and more by subscribing to our email newsletter + SMS!"
},
{
"type": "text",
"id": "newsletter_subtitle1",
"label": "Newsletter subtitle 1",
"default": "Receive discounts, updates and more by subscribing to our email newsletter + SMS!"
}
],
"presets": [
{
"name": "newsletter custom"
}
]
}
{% endschema %}

<section id="tocotrienol_banner1">
  <div class="banner-container container">
    <div class="banner-left">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/toco_scam.png?v=1750238504"
        src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/toco_scam_200x.png?v=1750238504"
        alt="
          Choose Potent Tocotrienols
          Backed by Science
        "
        title=""
        width="100%"
        height="100%"
      >
    </div>
    <div class="banner-right">
      <h2>
        Choose Potent Tocotrienols.<br>
        Backed by Science.
      </h2>
      <p class="subheading">Formulated with DeltaGold®—nature’s most powerful Vitamin E</p>
      <ul>
        <li>✅ 100% Annatto-Sourced</li>
        <li>✅ Tocopherol-Free | Lab-Tested</li>
        <li>✅ GMP-Certified Manufacturing</li>
      </ul>
      <a href="/products/vitamin-e-tocotrienols-supplement" class="cta-button">Get Yours Now</a>
    </div>
  </div>
</section>

<section id="tocotrienol_banner2">
  <div class="banner-container container">
    <div class="banner-left">
      <img
        class="lazyload"
        data-src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/tocoscam.png?v=1750238509"
        src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/tocoscam_200x.png?v=1750238509"
        alt="Don't Risk Your Health on Fake Supplements"
        title=""
        width="100%"
        height="100%"
      >
    </div>
    <div class="banner-right">
      <h2>Don't Risk Your Health on Fake Supplements</h2>
      <p class="subheading">
        Choose lab-verified Annatto Vitamin E —clinically backed for your heart, brain, and skin.
      </p>

      <a href="/products/vitamin-e-tocotrienols-supplement" class="cta-button">Shop Real Vitamin E</a>
    </div>
  </div>
</section>

<style>
       #tocotrienol_banner1 {
       background: linear-gradient(90deg, #e7eaf1, #d1d3dc);
       padding: 20px 20px;
       display: flex;
       justify-content: center;
       }
       #tocotrienol_banner2{
       background: radial-gradient(#ffffff 5%, #BCBCCA 95%);;
       padding: 20px
       display: flex;
       justify-content: center;
       }
       #tocotrienol_banner1  .banner-container img.lazyload,
       #tocotrienol_banner2  .banner-container img.lazyload{
       width: 500px;
       }
       #tocotrienol_banner1 .banner-container{
       display: flex;
       /* max-width: 800px; */
       width: 100%;
       /* background: radial-gradient(#ffffff 5%, #BCBCCA 95%); */
       border-radius: 12px;
       overflow: hidden;
       /* box-shadow: 0 4px 20px rgba(0,0,0,0.1); */
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       }

       #tocotrienol_banner2 .banner-container {
       display: flex;
       /* max-width: 800px; */
       width: 100%;
       /* background: radial-gradient(#ffffff 5%, #BCBCCA 95%); */
       border-radius: 12px;
       overflow: hidden;
       /* box-shadow: 0 4px 20px rgba(0,0,0,0.1); */
       flex-direction: row-reverse;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       }

       .banner-left, .banner-right {
       /* flex: 1 1 300px; */
       width:50%;
       padding: 20px;
       box-sizing: border-box;
       }

       .banner-left img {
       max-width: 100%;
       height: auto;
       }

       .banner-right h2 {
       font-size: 40px;
       color: #086b92;
       margin-bottom: 10px;
       line-height: 1.2;
       }

       .banner-right .subheading {
       font-size: 22px;
       color: #000;
       margin-bottom: 20px;
       font-weight: 500;
       line-height: normal;
       }
       #tocotrienol_banner2 .banner-container p.subheading {
       margin-bottom: 44px;
       }

       .banner-right ul {
       list-style: none;
       padding: 5px  0px;
       margin: 0px 0px 20px;
       }

       .banner-right ul li {
       margin-bottom: 10px;
       font-size: 17px;
         color: #000;
       }
      .cta-button:hover{
        background: #086b92;
        color: #fff;
      }
       .cta-button {
       display: inline-block;
       background-color: #FF4D03;
       color: white;
       padding: 12px 25px;
       border-radius: 50px;
       text-decoration: none;
       font-weight: bold;
       box-shadow: 0 20px 50px rgba(0,0,0,0.3);
       font-size: 22px;
       }
       @media (max-width: 768px) {
       .banner-container {
       flex-direction: column;
       text-align: center;
       }
    .banner-left, .banner-right{
      width:100%;
      padding:0px;
    }
    .banner-right h2 {
      font-size: 26px;
      margin-bottom: 5px;
      line-height: 1.1;
  }
         .banner-right .subheading {
      font-size: 17px;
      font-weight: 500;
      line-height: normal;
  }
       .banner-right {
       padding-top: 0;
       }
       }
</style>
