
<section class="amazon-page-dev-sec-container-main">
<div class="amazon-page-dev-sec-container">
  <div class="amazon-page-dev-sec-heading">
    Not all <strong>Tocotrienols</strong> are<br> <strong>equal either</strong>
  </div>
  <div class="amazon-page-dev-sec-description">
    Our formula is designed for maximum purity, potency and safety -
    so you get the result science promised.
  </div>
  <ul class="amazon-page-dev-sec-features">
    <li class="amazon-page-dev-sec-feature">
      <strong>100% Annatto Purity</strong> - Richest natural source of delta and gamma tocotrienols
    </li>
    <li class="amazon-page-dev-sec-feature">
      <strong>Clinically Dosage</strong> - 300mg NPN-approved therapeutic level
    </li>
    <li class="amazon-page-dev-sec-feature">
      <strong>Third-Party Lab Tested</strong> – Verified for purity & potency
    </li>
    <li class="amazon-page-dev-sec-feature">
      <strong>GMP-Certified Manufacturing</strong> – Produced in FDA-registered facilities
    </li>
    <li class="amazon-page-dev-sec-feature border-none-boottomms">
      <strong>Amazon's Choice</strong> – Rated 4.8/5 stars<br> by verified buyers
    </li>
  </ul>
  <div class="amazon-page-dev-sec-rating">
    <div class="amazon-page-dev-sec-stars">★★★★☆</div>
  </div>
</div>
</section>
<style>

  .amazon-page-dev-sec-container-main{
    background-color: #F1FAFE;
  }
.amazon-page-dev-sec-container {
    max-width: 720px;
    padding: 70px 0px;
    text-align: center;
    margin: auto;
    
}

.border-none-boottomms{
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

  .amazon-page-dev-sec-heading {
    font-weight: 400;
    font-size: 35px;
    color: #374650;
    margin-bottom: 12px;
    line-height: 1.2;
  }

  .amazon-page-dev-sec-heading strong {
    font-style: italic;
    font-weight: 600;
  }

  .amazon-page-dev-equal {
    display: block;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    margin-top: 2px;
  }

  .amazon-page-dev-sec-description {
    font-size: 17px;
    color: #373737;
    margin-bottom: 20px;
    max-width: 510px;
    margin: auto;
}



  .amazon-page-dev-sec-features {
    list-style: none;
    padding: 0;
    margin: 0 0 26px 0;
  }

  .amazon-page-dev-sec-feature {
    margin-bottom: 12px;
    color: #373737;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    padding: 0 20px 20px;
    border-image: linear-gradient(
      to right,
      rgba(214, 214, 214, 0.2),
      rgba(214, 214, 214, 1),
      rgba(214, 214, 214, 0.2)
    ) 1;
  }

  .amazon-page-dev-sec-feature strong {
    font-weight: 400;
    font-style: italic;
    color: #373737;
  }

  .amazon-page-dev-sec-rating {
    margin-top: 20px;
    font-size: 1.06rem;
    color: #434343;
  }

  .amazon-page-dev-sec-stars {
    color: #ffc107;
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 7px 0 0 0;
  }
</style>


{% schema %}
  {
    "name": "zig zag feature",
    "settings": [
    ],
    "presets": [
      {
        "name": "zig zag feature"
      }
    ]
  }
  {% endschema %}