{% schema %}
  {
    "name": "testrone lending page",
    "settings": [],
    "presets": [
      {
        "name": "testrone lending page"
      }
    ]
  }
{% endschema %}

<style>

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito'
    , sans-serif;
  }

  .testo-hero-container {
    width: 100%;
    margin: 0 auto;
  }

  .testo-hero-content {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
  }

  .testo-hero-image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
  }

  .testo-hero-image-box img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .right-container {
    flex: 1;
    background: radial-gradient(217.56% 51.38% at 50% 50%, #086B92 0%, rgba(8, 107, 146, 0) 80%)
    , #0F0F0F;
    color: white;
    display: flex;
    align-items: center;
  }

  .testo-hero-text-box {
    max-width: 500px;
    margin-left: 50px;
  }

  .testo-hero-subheading {
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 10px;
  }

  .testo-hero-heading {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    color: white;
    line-height: 1.1;
  }

  .testo-hero-card {
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    max-width: 100%;
    background: rgba(0, 155, 216, 0.59);
  }

  .testo-hero-card.highlight {
    font-weight: bold;
  }

  .testo-hero-card.highlight span {
    color: #fff700;
    font-size: 20px;
    margin-left: 10px;
  }

  .testo-hero-buy-btn {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #f1f1f1;
    color: #000;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    min-width: 200px;
  }

  .testo-hero-buy-btn:hover {
    background-color: #ddd;
  }

  .testo-hero-trust {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    color: white;
  }

  .testo-hero-trust img {
    height: 18px;
  }

  /* 🔁 Responsive Design */
  @media (max-width: 992px) {
    .testo-hero-content {
      flex-direction: column;
    }

    .testo-hero-heading {
      font-size: 36px;
    }


    /*
   .testo-hero-image-box { 
   padding: 20px 10px; 
   }
*/

    .right-container {
      padding: 50px 0;
    }

    .testo-hero-text-box {
      padding: 10px;
    }
  }

  @media (max-width: 576px) {
    .testo-hero-heading {
      font-size: 28px;
    }

    .testo-hero-card,
    .testo-hero-buy-btn {
      font-size: 13px;
    }

    .testo-hero-card.highlight span {
      font-size: 18px;
    }

    .testo-hero-text-box {
      margin-left: 0;
    }
  }

  @media (min-width: 998px) and (max-width: 1300px) {
    .right-container {
      padding: 60px 0;
    }

    .testo-hero-image-box {
      display: block;
    }
  }


  /*02. -----------------------------Science section css---------------------------- */
  .science-section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
  }

  .science-heading {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
  }

  .science-paragraph {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .science-paragraph h1 {
    font-size: 60px;
    font-style: italic;
    color: #194667E5;
  }

  @media (max-width: 768px) {
    .science-section {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .science-heading {
      font-size: 28px;
    }

    .science-paragraph {
      font-size: 13px;
    }

    .science-section {
      padding: 60px 10px;
      text-align: justify;
    }
  }


  /*03. -----------------------------adanced supliment css---------------------------- */

  .roles-section {
    background: radial-gradient(150% 100% at 50% 50%, #086B92 0%, rgba(8, 107, 146, 0) 80%)
    , #0F0F0F;
    padding: 80px 20px;
  }

  .roles-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }

  .roles-label {
    display: inline-block;
    background-color: #fff;
    color: #0F0F0F;
    font-size: 10px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .roles-heading {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #fff;
  }

  .roles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
  }

  .role-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 20px;
    color: #fff;
  }

  .role-forst-card {
    padding: 0;
  }

  .left-card {
    border-left: 1px solid #0096d6;
  }

  .role-step {
    background: #fff;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    max-width: 50px;
    text-align: center;
  }

  .role-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .role-description {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
  }

  /* Timeline line */
  .timeline {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #0096d6;
  }

  /* Timeline dots */
  .timeline-dot {
    position: absolute;
    bottom: -34px;
    width: 10px;
    height: 10px;
    background-color: #0096d6;
    border-radius: 50%;
  }

  .dot-1 {
    left: 0;
    transform: translateX(-50%);
  }

  .dot-2 {
    left: 34.1%;
    transform: translateX(-50%);
  }

  .dot-3 {
    left: 68.5%;
    transform: translateX(-50%);
  }

  .dot-4 {
    left: 100%;
    transform: translateX(-50%);
  }

  /* Responsive */
  @media (max-width: 992px) {
    .roles-grid {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    .timeline,
    .timeline-dot {
      display: none;
    }

    .roles-section {
      padding: 60px 10px;
    }

    .role-card {
      padding: 0;
    }

    .left-card {
      border-left: none;
    }
  }


  /* 04 -------------------------------------- ingrediat section-------------------------------------------------- */
  .ingredients-section {
    background: linear-gradient(to right, #ffffff, #e7f3f8);
    padding: 80px 20px;
    text-align: center;
  }

  .ingredients-container {
    max-width: 900px;
    margin: 0 auto;
  }

  .ingredients-heading {
    font-size: 28px;
    font-weight: 600;
    color: #0f0f0f;
    margin-bottom: 10px;
  }

  .subheading {
    font-size: 20px;
    color: #333;
    margin-bottom: 40px;
  }

  .ingredients-grid {
    display: flex;
    justify-content: center;
  }

  .ingredient-card {
    background-color: #f7fafc;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    max-width: 700px;
    text-align: center;
  }

  .ingredient-card h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #0f0f0f;
  }

  .ingredient-card p {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
  }

  @media (max-width: 600px) {
    .ingredient-card {
      padding: 20px;
    }

    .ingredients-heading {
      font-size: 24px;
    }

    .subheading {
      font-size: 18px;
    }
  }


  /* 05. -------------------------  clinical section ----------------------------------- */
  .clinical-section {
    padding: 60px 20px;
    background: #ffffff;
  }

  .clinical-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Row 1 */
    grid-template-rows: auto auto;
    /* 2 rows */
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Force row 2 to be full-width 3-column layout */
  .clinical-card:nth-child(3),
  .clinical-card:nth-child(4),
  .clinical-card:nth-child(5) {
    grid-column: span 1;
    text-align: center;
  }

  .clinical-card:nth-child(3) {
    grid-column-start: 1;
  }

  .clinical-card:nth-child(4) {
    grid-column-start: 2;
  }

  .clinical-card:nth-child(5) {
    grid-column-start: 3;
  }

  .clinical-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-1 {
    grid-column: span 2;
  }

  .card-2 {
    grid-column: span 1;
    text-align: center;
  }

  /* Card Styling */
  .clinical-card {
    background: #ffffff;
    padding: 50px 24px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .card-1 {
    /* background: linear-gradient(135deg, #003950, #007ca6); */
    background: linear-gradient(135deg, #0F0F0F, #007ca6);
    color: #fff;
  }

  .card-1 h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    line-break: 1.3;
  }

  .cta-button {
    background-color: #ffffff;
    color: #003950;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
  }

  .clinical-card img {
    width: 40px;
    margin-bottom: 16px;
  }

  .clinical-card h3 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #086B92;
  }

  .ing-esto span {
    margin-bottom: 15px;
    font-size: 35px;
    color: #00B67A;
  }

  .ing-esto {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clinical-card p {
    font-size: 20px;
    color: #444;
    line-height: 1.6;
  }

  .testo-clinical p {
    color: white;
  }

  /* Responsive */
  @media (max-width: 992px) {
    .clinical-grid {
      grid-template-columns: 1fr;
    }

    .clinical-card {
      grid-column: auto !important;
      text-align: center;
      align-items: center;
    }

    .clinical-card h3,
    .clinical-card p {
      text-align: center;
    }

    .card-1 h2 {
      font-size: 30px;
    }
  }


  /* 06. -------------------------- Geranylgeraniol --------------------------------------- */


  .why-section {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
  }

  .why-container {
    max-width: 800px;
    margin: 0 auto;
  }

  .why-heading {
    font-size: 30px;
    font-weight: 600;
    color: #3C3C3C;
    margin: 30px auto;
    line-height: 1.3;
    max-width: 500px;
  }

  .why-description {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .why-highlight {
    font-size: 16px;
    font-weight: 700;
    color: #3F3F3F;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .why-heading {
      font-size: 22px;
    }

    .why-description,
    .why-highlight {
      font-size: 15px;
    }

    .why-section {
      padding: 0 10px;
    }
  }


  /* 7. ---------------------------------------------testomonial section --------------------------------------- */

  .testimonial-section {
    padding: 80px 20px;
    background: #fff;
    text-align: center;
    font-family: sans-serif;
  }

  .testimonial-header {
    max-width: 700px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .testimonial-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .testimonial-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1a1a1a;
  }

  .testimonial-subtitle {
    font-size: 16px;
    color: #888;
  }

  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .testimonial-card {
    background: #f3f3f3;
    border-radius: 16px;
    padding: 40px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 250px; */
  }


  .testimonial-card .author {
    display: none;
  }

  .author {
    font-weight: 500;
    font-size: 14px;
    color: #111;
    margin-bottom: 40px;
  }

  .position {
    color: #555;
    font-weight: normal;
    font-size: 13px;
  }

  .quote {
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.6;
  }

  .footer {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    margin-top: auto;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .testimonial-title {
      font-size: 22px;
    }

    .testimonial-subtitle {
      font-size: 13px;
    }

    .testimonial-grid {
      grid-template-columns: 1fr;
    }

    .testimonial-section {
      padding: 30px 10px;
    }
  }


  /* 8 -------------------------------- testomonial card --------------------------------------------------- */
  .lowt-section {
    padding: 30px 20px;
    background: #fff;
    font-family: sans-serif;
  }

  .lowt-header {
    max-width: 1200px;
    margin: 0 auto 40px;
    text-align: left;
  }

  .lowt-header h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .lowt-header p {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #444;
  }

  .cta-button {
    background-color: #007baf;
    color: #fff;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 25px;
  }

  .lowt-cards-wrapper {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
    scroll-snap-type: x mandatory;
    margin-left: 10%;
  }

  .lowt-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 16px;
    min-width: 280px;
    max-width: 300px;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

  .lowt-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 12px;
  }

  .lowt-card h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .lowt-card p {
    font-size: 16px;
    color: #222;
    margin-bottom: 12px;
    line-height: 1.5;
    font-weight: 600;
  }

  .lowt-card small {
    font-size: 14px;
    color: #535353;
    display: block;
    line-height: 1.8;
  }

  /* Optional: scrollbar hidden */
  .lowt-cards-wrapper::-webkit-scrollbar {
    display: none;
  }

  .lowt-cards-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .lowt-header h2 {
      font-size: 22px;
    }

    .lowt-header p {
      font-size: 14px;
    }

    .lowt-cards-wrapper {
      margin-left: 0;
    }
  }

  /* 9. accordian section------------------------------ */
  .accordion {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
  }

  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
  }

  .accordion-item-header::after {
    content: "\002B";
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
  }

  .accordion-item-header.active::after {
    content: "\2212";
  }

  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 14px;

    /*
   border-top: 1px solid; 
   border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
*/
  }

  .accordian-faq {
    max-width: 1185px;
    margin: 50px auto auto;
  }

  @media (max-width: 1300px) {
    .accordian-faq {
      display: flex;
      justify-content: center;
    }
  }

  @media(max-width: 767px) {
    .accordion {
      margin: 10px auto;
    }

    .accordian-faq {
      margin-top: 30px;
      padding-left: 20px;
    }

    .accordion-item-header {
      font-size: 16px;
    }

    .accordion-item-body-content {
      font-size: 12px;
    }
  }


  /* 10. ----------------------------------- lowet section ------------------------------------ */
  .benefits-section {
    background: #f8fcff;
    padding: 60px 20px;
    font-family: 'Segoe UI'
    , sans-serif;
  }

  .benefits-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 40px;
  }

  .benefits-image {
    width: 100%;
    background: #fff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }

  .benefits-image img {
    width: 100%;
    height: 100%;
  }

  .benefits-content h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1a1a1a;
  }

  .subtitle {
    font-size: 15px;
    color: #555;
    margin-bottom: 24px;
  }

  .benefits-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .benefits-list li {
    font-size: 15px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: #1a1a1a;
  }

  .benefits-list .icon {
    color: #2196f3;
    margin-right: 12px;
    font-size: 18px;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .benefits-container {
      grid-template-columns: 1fr;
      text-align: center;
    }


    /*
   .benefits-list li { 
   justify-content: center; 
   }
*/

    .subtitle {
      text-align: left;
    }

    .benefits-content h2 {
      text-align: left;
    }

    .benefits-image {
      height: 220px;
    }
  }
</style>


<section class="testo-hero-container">
  <div class="testo-hero-content">
    <div class="testo-hero-image-box">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Background.jpg?v=1750744481" alt="Testosterone Bottle" />
    </div>
    <div class="right-container">
      <div class="testo-hero-text-box">
        <p class="testo-hero-subheading">Noticeably Higher Testosterone — Naturally, in Just 8 Weeks.
        </p>
        <h1 class="testo-hero-heading">TESTOSTERONE <br> SUPPORT
        </h1>

        <div class="testo-hero-card">
          Boost Mood, Muscle & Libido — No Hormones. No Prescriptions.
        </div>
        <div class="testo-hero-card">
          Powered by 150 mg of Geranylgeraniol (GG) — clinically studied, plant-based, and proven
 
 
                        effective.
        </div>
        <div class="testo-hero-card highlight">
          USD 46.99
          <span>USD 39.95</span>
          / bottle <br/>
          <small>Get 15% Off – Limited Time Summer Sale</small>
        </div>

        <a href="https://wellnessextract.com/products/gg-essential-geranylgeraniol-supplement-150mg-60-softgels">
          <button class="testo-hero-buy-btn">Buy now</button>
        </a>

        <div class="testo-hero-trust">
          <!-- <span>Excellent</span>
<img
                      src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Img_2.svg?v=1750742013"
                      alt="Trustpilot stars"
                    />
                    <span>24,815 reviews on</span> -->
          <strong>✅ Clinically Proven | Made in the USA | ⭐ 4.8/5 from Real Men
          </strong>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Second section science -->

<section class="science-section">
  <div class="science-heading">
    SCIENCE-BACKED <br>RESULTS
  </div>
  <div class="science-paragraph">
    <h1>73%</h1>
    of men showed significant testosterone increases
  </div>
</section>

<!-- Third section advanced suplement -->
<section class="roles-section">
  <div class="roles-container">
    <div class="roles-label">ADVANCED SUPPLEMENTS</div>
    <h2 class="roles-heading">WHY Testosterone MATTERS
    </h2>

    <div class="roles-grid">
      <div class="role-card role-forst-card">
        <div class="role-step">ONE</div>
        <div class="role-title">🧬 Sex Drive & Fertility</div>
        <div class="role-description">
          Testosterone is key for libido, sperm quality, and reproductive health.
        </div>
      </div>

      <div class="role-card left-card">
        <div class="role-step">TWO</div>
        <div class="role-title">💪 Muscle Mass & Recovery</div>
        <div class="role-description">
          Low T means lower strength, harder muscle gains, and slower recovery.
        </div>
      </div>

      <div class="role-card left-card">
        <div class="role-step">THREE</div>
        <div class="role-title">🧠 Mood & Motivation</div>
        <div class="role-description">
          Low testosterone = less focus, more irritability, and emotional fatigue.
        </div>
      </div>

      <!-- Timeline Line and Dots -->
      <div class="timeline"></div>
      <div class="timeline-dot dot-1"></div>
      <div class="timeline-dot dot-2"></div>
      <div class="timeline-dot dot-3"></div>
      <div class="timeline-dot dot-4"></div>
    </div>
  </div>
</section>


<!-- 04 section -->
<section class="ingredients-section">
  <div class="ingredients-container">
    <div class="testosupport">
      <h2 class="ingredients-heading">What's in GG Essential?</h2>
      <p class="subheading">Pure. Potent. Proven.</p>
    </div>

    <div class="ingredients-grid">
      <div class="ingredient-card">
        <h3>Geranylgeraniol (GG-Gold™) 150mg</h3>
        <p>
          A patented, clinically studied form of annatto-derived geranylgeraniol.
 
 
                        Shown to boost total, free, and bioavailable testosterone levels naturally — no hormones needed.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- 05. clinical section -->

<section class="clinical-section">
  <div class="clinical-grid">

    <!-- Row 1 -->
    <div class="clinical-card card-1 testo-clinical">
      <h2>Clinical Evidence</h2>
      <p>In a double-blind, placebo-controlled study:
      </p>
      <p>
        Men with testosterone under 700 ng/dL took 150 mg GG/day for 8 weeks.</p>
      <a href="https://wellnessextract.com/products/gg-essential-geranylgeraniol-supplement-150mg-60-softgels">
        <button class="cta-button">increase your testosterone levels</button>
      </a>
    </div>

    <div class="clinical-card card-2">
      <!-- <img src="https://img.icons8.com/ios/50/user-male-circle.png" alt="Easy Invoicing" /> -->
      <h3>73%</h3>
      <p>of men showed significant testosterone increases
      </p>
    </div>

    <!-- Row 2 -->
    <div class="clinical-card">
      <!-- <img src="https://img.icons8.com/ios/50/receipt.png" alt="Manage Expenses" /> -->

      <p>Total <br>testosterone</p>
      <div class="ing-esto">
        <span>↑</span>
        <h3>
          +7.5%</h3>
      </div>


    </div>

    <div class="clinical-card">
      <!-- <img src="https://img.icons8.com/ios/50/light-on.png" alt="Streamline Payroll" /> -->
      <p>Free <br>testosterone</p>
      <div class="ing-esto">
        <span>↑</span>
        <h3>
          +15%</h3>
      </div>
    </div>

    <div class="clinical-card">
      <!-- <img src="https://img.icons8.com/ios/50/graph-report.png" alt="Complete Visibility" /> -->
      <h3>0</h3>
      <p>Side Effects <br> Reported</p>
    </div>

  </div>
</section>

<!-- 06. Geranylgeraniol section -->
<section class="why-section">
  <div class="why-container">
    <h2 class="why-heading">
      Why Geranylgeraniol Works
 
 
                When Other Supplements Fail
    </h2>
    <p class="why-description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
 
 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <p class="why-highlight">
      <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong>
    </p>
  </div>
</section>
<!-- 10. benifits section -->
<!-- Lowet section -->
<section class="benefits-section">
  <div class="benefits-container">
    <!-- Left Image/Box -->
    <div class="benefits-image">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/ENNATO.png?v=1728283927" alt="">
    </div>

    <!-- Right Content -->
    <div class="benefits-content">
      <h2>WHY MEN LOVE THIS</h2>

      <ul class="benefits-list">
        <li>
          <span class="icon">✔️</span>
          Accept any method of payment</li>
        <li>
          <span class="icon">✔️</span>
          Apply discounts and issue refunds</li>
        <li>
          <span class="icon">✔️</span>
          Apply discounts and issue refunds</li>
        <li>
          <span class="icon">✔️</span>
          Apply discounts and issue refunds</li>
      </ul>
      <p class="subtitle">
        🔒 100% natural. No stimulants. No hormones. <br>
        📦 Fast shipping. Easy subscription available.
      </p>
    </div>
  </div>
</section>

<!-- 7. ---------------------- testomonial section---------------------- -->
<section class="testimonial-section">
  <div class="testimonial-header">
    <!-- <p class="testimonial-label"> <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
    viewBox="0 0 17 17" fill="none">
            <path
                d="M8.74333 14.6892C14.5564 11.423 15.8892 7.59802 14.8433 4.98377C14.3319 3.70539 13.2601 2.79273 12.0001 2.51112C10.8545 2.25506 9.59162 2.52867 8.49838 3.45296C7.40512 2.52867 6.14219 2.25506 4.99657 2.51112C3.73666 2.79274 2.66485 3.7054 2.15342 4.98379C1.10756 7.59803 2.44031 11.423 8.25349 14.6892C8.40559 14.7747 8.59123 14.7747 8.74333 14.6892Z"
                fill="#1F2937" />
        </svg> Testimonials</p> -->
    <h2 class="testimonial-title">Real Results from Real Customers</h2>
    <p class="testimonial-subtitle">Thousands of men are already experiencing the benefits
    </p>
  </div>
  <div class="testimonial-grid">
    <div class="testimonial-card">
      <p class="author">Zeno Rocha<br><span class="position">CEO, Resend</span>
      </p>
      <p class="quote">
        After 3 months of taking GG Essential, my energy levels are through the roof. I feel like I'm in my
 
 
                    20s again. My workouts are stronger and I sleep better at night.
      </p>
      <p class="footer">Michael R., Age 42</p>
    </div>

    <div class="testimonial-card">
      <p class="author">Zeno Rocha<br><span class="position">CEO, Resend</span>
      </p>
      <p class="quote">
        I was skeptical about natural testosterone support, but the science convinced me to try GG
 
 
                    Essential. My lab results show significant improvement in my T levels.
      </p>
      <p class="footer">David L., Age 38
      </p>
    </div>

    <div class="testimonial-card">
      <p class="author">Zeno Rocha<br><span class="position">CEO, Resend</span>
      </p>
      <p class="quote">
        No side effects, just natural energy and improved mood. My wife noticed the difference before I did.
 
 
                    This stuff really works!
      </p>
      <p class="footer">James K., Age 45
      </p>
    </div>

    <div class="testimonial-card">
      <p class="author">Zeno Rocha<br><span class="position">CEO, Resend</span>
      </p>
      <p class="quote">
        As a fitness enthusiast, I needed something natural to support my hormone levels. GG Essential
 
 
                    delivers results without the risks of synthetic options.
      </p>
      <p class="footer">Robert T., Age 35
      </p>
    </div>
  <!-- <div class="testimonial-card">
  <p class="author">Zeno Rocha<br><span class="position">CEO, Resend</span></p>
      <p class="quote">
          Didn’t expect to feel this good again at 48. More energy. More clarity. My wife’s happy too.
      </p>
      <p class="footer">Leo, 48, California </p>
  </div> -->
  <!-- <div class="testimonial-card">
  <p class="author">Zeno Rocha<br><span class="position">CEO, Resend</span></p>
      <p class="quote">
          Honestly, I feel sharper at work and stronger in the gym. I’ll never go without it now.
      </p>
      <p class="footer">Mike, 42, London </p>
  </div> -->
  </div>
</section>

<!-- 08. testomonial card -------------------------------------- -->
<section class="lowt-section">
  <div class="lowt-header">
    <h2>DON’T IGNORE LOW T</h2>
    <p>
      Low Testosterone Is the Hidden Health Crisis
    </p>
  <!-- <button class="cta-button">Assess your testosterone levels →</button> -->
  </div>

  <div class="lowt-cards-wrapper">
    <div class="lowt-card">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Figure_Picture_1_in_4_men_affected.png?v=1750756848" alt="1 in 4 men affected" />
      <h4>1 in 4 Men Over 30 Affected
      </h4>
      <p>Research shows 25% of men over 30 have low testosterone levels, affecting nearly 13 million American
 
 
                    men.
      </p>
    <!-- <small>Andre B. Araujo, Gretchen R. Esche, et al. Journal of Clinical Endocrinology & Metabolism,
Volume 92, Issue 11, 2007.</small> -->
    </div>

    <div class="lowt-card">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Figure_Picture_1_in_3_men_with_ED.png?v=1750756922" alt="Low-T in 1/3 of ED cases" />
      <h4>T Levels Drop 1% Yearly After 30</h4>
      <p>That’s why energy crashes, drive dips, and mood shifts start creeping in.</p>
    <!-- <small>JAMA (1993)</small> -->
    </div>

    <div class="lowt-card">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Figure_Picture_90_go_undiagnosed.png?v=1750756922" alt="90% go untreated" />
      <h4>90% Go Untreated
      </h4>
      <p>Most men with low testosterone remain undiagnosed and untreated, suffering from fatigue and decreased
 
 
                    vitality.
      </p>
    <!-- <small>Layton et al., Journal of Clinical Endocrinology & Metabolism, 2017</small> -->
    </div>

    <div class="lowt-card">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Figure_Picture_Up_to_2x_more_likely.png?v=1750756922" alt="Overweight or diabetic" />
      <h4>2x Risk of Heart Issues</h4>
      <p>Low testosterone isn’t just about libido — it doubles your risk of cardiovascular problems and an
 
 
                    early death.
      </p>
    <!-- <small>Kapoor D, Malkin CJ, et al. <i>Clin Endocrinol (Oxf)</i> (2005)</small> -->
    </div>

    <div class="lowt-card">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Figure_Picture_Up_to_2x_more_likely.png?v=1750756922" alt="Depression risk" />
      <h4>1 in 3 ED Cases = Low T
      </h4>
      <p>Testosterone plays a vital role in libido, blood flow, and erectile tissue health.</p>
    <!-- <small>Shores MM et al., Arch Gen Psychiatry (2004)</small> -->
    </div>
    <div class="lowt-card">
      <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Figure_Picture_Up_to_2x_more_likely.png?v=1750756922" alt="Depression risk" />
      <h4>Low T = Less Muscle, More Fat</h4>
      <p>Even with exercise, low T makes it significantly harder to build lean muscle or burn fat.
      </p>
    <!-- <small>Shores MM et al., Arch Gen Psychiatry (2004)</small> -->
    </div>
  </div>
</section>

<!-- 9. Accordian section -->
<div class="accordian-faq">
  <h2>FAQS</h2>
</div>

<div class="accordion">
  <!-- faq item -->
  <div class="accordion-item">
    <div class="accordion-item-header">
      Is GG natural?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Yes — it’s a compound found in plants (like annatto) and even made by your body. We deliver it in
 
 
                    its purest,
      </div>
    </div>
  </div>
  <!-- faq item -->
  <div class="accordion-item">
    <div class="accordion-item-header">
      What's the recommended dosage?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Take 1–2 softgels daily, ideally with a meal that contains healthy fats for better absorption. Most
 
 
                    men start with 1 per day and increase as needed.
      </div>
    </div>
  </div>
  <!-- faq item -->
  <div class="accordion-item">
    <div class="accordion-item-header">
      Is GG Essential safe for long-term use?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Yes. In clinical studies, GG showed no side effects, no hormone imbalances, and no negative changes
 
 
                    in liver, kidney, or cholesterol markers — even with daily use over 8+ weeks. It’s safe for ongoing
                    support.
      </div>
    </div>
  </div>
  <!-- faq item -->
  <div class="accordion-item">
    <div class="accordion-item-header">
      How long does it take to see results?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Many men report feeling more energy and drive within 2–4 weeks. Clinical studies showed significant
 
 
                    increases in testosterone levels by week 8. Like any natural support, consistency is key.
      </div>
    </div>
  </div>
  <!-- faq item -->
  <div class="accordion-item">
    <div class="accordion-item-header">
      Who is it for?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Men aged 30–55 who are feeling the symptoms of low testosterone and want a natural, proven way to
 
 
                    support their hormones.
      </div>
    </div>
  </div>
  <!-- faq item -->
  <div class="accordion-item">
    <div class="accordion-item-header">
      Is this the same as TRT?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        No. TRT introduces external testosterone. GG helps your body optimize natural production.
      </div>
    </div>
  </div>
</div>
<!-- Accordin script -->
<script>
        const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");
  
        accordionItemHeaders.forEach(accordionItemHeader => {
            accordionItemHeader.addEventListener("click", event => {
                accordionItemHeader.classList.toggle("active");
                const accordionItemBody = accordionItemHeader.nextElementSibling;
                if (accordionItemHeader.classList.contains("active")) {
                    accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
                }
                else {
                    accordionItemBody.style.maxHeight = 0;
                }
  
            });
        });
</script>