/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/
#nm-ev-popup-wrapper .nm-ev-close_video.out {
  width: 24px !important;
  height: 24px !important;
  visibility: visible;
}
