.dynamic-Product-page-3\.O-template .productView-image-wrapper{
      box-shadow: none;
}

.dynamic-Product-page-3\.O-template .productView-images-wrapper .productView-img-container .media img{
 border-radius: 80px !important; 
}
.dynamic-Product-page-3\.O-template .okeReviews .oke-sr-count {
    display: block!important;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.dynamic-Product-page-3\.O-template .okeReviews .oke-sr-count .oke-sr-label-text{
   display: none !important;
}
.dynamic-Product-page-3\.O-template .okeReviews.oke-sr div:first-child{
  display: flex;
    align-items: center;
    justify-content: flex-start;
  gap: 10px;
}
.dynamic-Product-page-3\.O-template .okeReviews .oke-sr-rating{
  display: none !important;
}
.okeReviews[data-oke-container] *, 
.okeReviews[data-oke-container] :after, 
.okeReviews[data-oke-container] :before,
div.okeReviews *,
div.okeReviews :after,
div.okeReviews :before{
  margin-bottom: 0px !important;
  height: 21px !important;
}
span.oke-sr-count-number::before {
    content: "(";
}
span.oke-sr-count-number::after {
    content: ")";
}
