.dynamic-Product-page-3\.O-template .productView-image-wrapper {
position: relative;
}

.dynamic-Product-page-3\.O-template .productView-image-wrapper::before {
border-radius: 1110px;
opacity: 1;
background-color: #086b9275;
filter: blur(100px);
content: '';
position: absolute;
inset: 0;
}
.dynamic-Product-page-3\.O-template .productView-image-wrapper button {
background: #ccc;
}
.dynamic-Product-page-3\.O-template .productView-image-wrapper button svg{
color: #ffffff !important;
fill: #ffffff !important;
fill-opacity: 0.3;
stroke: #dcdcdc!important;
}

.dynamic-Product-page-3\.O-template h1.productView-title {
color: #086B92;
font-family: Nunito;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1px;
}

.dynamic-Product-page-3\.O-template p.product-page-one-liner {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 8px;
    color: #29353C;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.dynamic-Product-page-3\.O-template .health-benefits_thirdO span.content_benifits {
color: #29353C;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.dynamic-Product-page-3\.O-template .health-benefits_thirdO img.health_benefits_img {
    width: 22px;
}

.dynamic-Product-page-3\.O-template .productView-image-wrapper{
box-shadow: none;
}

.dynamic-Product-page-3\.O-template .productView-images-wrapper .productView-img-container .media img{
border-radius: 40px !important; 
}
.dynamic-Product-page-3\.O-template .okeReviews .oke-sr-count {
display: block!important;
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1;
border-bottom: 2px solid #000;
}
.dynamic-Product-page-3\.O-template .okeReviews .oke-sr-count .oke-sr-label-text{
display: none !important;
}
.dynamic-Product-page-3\.O-template .okeReviews.oke-sr div:first-child{
display: flex;
align-items: center;
justify-content: flex-start;
gap: 10px;
}
.dynamic-Product-page-3\.O-template .okeReviews .oke-sr-rating{
display: none !important;
}
.dynamic-Product-page-3\.O-template  .okeReviews[data-oke-container] *, 
.dynamic-Product-page-3\.O-template .okeReviews[data-oke-container] :after, 
.dynamic-Product-page-3\.O-template  .okeReviews[data-oke-container] :before,
.dynamic-Product-page-3\.O-template  div.okeReviews *,
.dynamic-Product-page-3\.O-template  div.okeReviews :after,
.dynamic-Product-page-3\.O-template  div.okeReviews :before{
margin-bottom: 0px !important;
height: 21px !important;
}
.dynamic-Product-page-3\.O-template span.oke-sr-count-number::before {
content: "(";
}
.dynamic-Product-page-3\.O-template span.oke-sr-count-number::after {
content: ")";
}


.dynamic-Product-page-3\.O-template .health-benefits_thirdO {
display: flex;
flex-wrap: wrap;
gap: 10px;
margin: 20px auto;
}
.dynamic-Product-page-3\.O-template .health-benefits_thirdO .benefit-item {
display: flex;
align-items: center;
gap: 8px;
width: 28%;
font-size: 16px;
color: #2c2c2c;
}

.dynamic-Product-page-3\.O-template .health-benefits_thirdO .benefit-item .content_benifits_img {
font-size: 20px;
}


.dynamic-Product-page-3\.O-template .installment.caption-large {
  margin-bottom: 22px; display:none;
}


.dynamic-Product-page-3\.O-template .productView-price{
display: flex;
align-items: center;
justify-content: flex-start;
gap:25px;
}
/* together section */
.dynamic-Product-page-3\.O-template .bundlePdItem-container {
padding: 0!important;
position: relative;
border-radius: 6px!important;
margin: 2px;
border: 1px solid #FFF;
background: #FFF;
box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
}
.dynamic-Product-page-3\.O-template .bundlePdItem-container:hover{
border: 1px solid #086b9233;
background: #086b9200;
}
.dynamic-Product-page-3\.O-template .bundle-product-content {
padding: 15px 10px;
}

.dynamic-Product-page-3\.O-template section.faqs_Product-page-3\.O_page {
    background: #F4F4F4;
    padding-top: 10px;
    padding-bottom: 20px;
}

.dynamic-Product-page-3\.O-template .instagram-slide .halo-block-header .title{
  letter-spacing: 0.68px;
    text-transform: capitalize;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 0;
}

.dynamic-Product-page-3\.O-template #halo-product-bundle {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width: 1200px) {
.dynamic-Product-page-3\.O-template .productView-tab .tabs .tab-title {
margin-right: 20px;
}

}
@media (min-width: 1024px) {
.dynamic-Product-page-3\.O-template .product-descriptios-bottom {
max-width: 1320px!important;
padding-left: 15px;
padding-right: 15px;
margin: auto;
padding: 1px 20px 35px;
}
.dynamic-Product-page-3\.O-template .halo-product-bundle .halo-block-header .title .text {
width: 100%;
background: none;
color: #374650;
text-align: center;
font-family: Nunito;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 33.6px;
letter-spacing: 0.68px;
text-transform: capitalize;
}
.dynamic-Product-page-3\.O-template .bundle-product-media img{
border-radius: 2%;
}
.dynamic-Product-page-3\.O-template .bundle-product-item{
padding-right: 10px;
}
.dynamic-Product-page-3\.O-template .bundle-product-totalPrice .text {
display: block;
margin: 0 0 12px;
color: #006A91;
text-align: center;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px;
}
.dynamic-Product-page-3\.O-template .bundle-product-totalPrice .price,
.dynamic-Product-page-3\.O-template .bundle-product-totalPrice .price span {
display: block;
letter-spacing: 0;
margin-bottom: 15px;
color: #006A91;
text-align: center;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px;
}
.dynamic-Product-page-3\.O-template #halo-product-bundle .bundle-product-text {
color: #36454F;
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.32px;
}
}
@media (min-width: 800px){
.dynamic-Product-page-3\.O-template .halo-productView-left{
position: sticky;
top: 13%;
}

}
@media (min-width: 551px) {
  .dynamic-Product-page-3\.O-template .product-form__buttons{
    border-radius: 10px;
  }
.dynamic-Product-page-3\.O-template .productView-tab .tabs .tab-title:after{
height: 0;
background: none; 
}
.dynamic-Product-page-3\.O-template .productView-tab .tabs{
padding-bottom: 15px;
border-bottom: 0px;
margin: 20px 0 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.dynamic-Product-page-3\.O-template .tabs-contents.halo-text-format{
padding: 20px 40px;
border-radius: 30px;
border: 1px solid #F0F0F0;
}
.dynamic-Product-page-3\.O-template .productView-tab a.tab-title.is-open {
padding: 9px 23px !important;
border-radius: 16px;
border: 1px solid #086b92c7!important;;
background: #FFF;
color: #086B92 !important;
font-style: normal;
line-height: 26px;
}
.dynamic-Product-page-3\.O-template .productView-tab a.tab-title {
padding: 9px 23px !important;
border-radius: 16px;
border: 1px solid #F0F0F0!important;
background: #FFF;
color: #29353C !important;
font-style: normal;
line-height: 26px;
}

.dynamic-Product-page-3\.O-template .tabs-contents .toggle-content.is-active, 
.dynamic-Product-page-3\.O-template .tabs-contents-horizontal .toggle-content, 
.dynamic-Product-page-3\.O-template .tabs-contents-popup .toggle-content{
display: block;
color: #3C3C3C;
font-family: Lato;
font-size: 16px;
font-style: normal;
line-height: 1.3;
letter-spacing: 0.32px;
}
.dynamic-Product-page-3\.O-template .video-section .title{
margin-bottom: 40px;
color: #374650;
text-align: center;
font-family: Nunito;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 1.6px;
margin-top: 0;
}
.dynamic-Product-page-3\.O-template p.product-page-one-liner{
color: #29353C;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
}

.dynamic-Product-page-3\.O-template .health-benefits_thirdO{
margin: 16px 1px 25px;
justify-content: space-between;
}
.sonu9.productView-product.clearfix {
padding: 0px 10px;
}
.discount-percent-thirdO{
padding: 2px 7px;
}

.promo-banner__hsa-label,
.promo-banner__note{
font-size: 17px;
}
#scientifically-backed_template--24801254768936__scientific_slider_third_o_AYBm97 .scientific-title{
font-size: 30px;
}
}

@media(max-width:550px ){
  .seal-col:nth-child(2n) .sls-selling-plan-group-name{
      max-width:100% !important;
  }
 
 .dynamic-Product-page-3\.O-template .seal-col:nth-child(2n) .sls-selling-plan-group-name{
    display: flex!important;
    /* max-width: 100% !important; */
   padding-top: 0!important;
   align-items: anchor-center !important;
  }

   .dynamic-Product-page-3\.O-template .sealsubs-target-element {
    margin: 0px auto 10px !important;
}
  .dynamic-Product-page-3\.O-template .product-form__buttons{
    border-radius: 10px;
  }
  .dynamic-Product-page-3\.O-template .sealsubs-container {
    margin-bottom: 0em !important;
  }
  .dynamic-Product-page-3\.O-template .seal-col:nth-child(2n) .sls-savings-badge{
      font-size: 8.7px !important;
        vertical-align: middle;
        padding: 3px .75em 0px !important;
        line-height: 1.2 !important;
        max-width: 100px !important;
        margin-top: 0;
        height: 37px !important;
  }
  label.sls-selling-plan-group-name:last-child, .sls-total-price {
    margin-left: 0px!important;
}
  
  .dynamic-Product-page-3\.O-template .halo-productView-right.productView-details.clearfix {
  margin-top: 25px;
  }
  .dynamic-Product-page-3\.O-template .health-benefits_thirdO .benefit-item{
  width: 45%;    gap: 4px;
  }
  .dynamic-Product-page-3\.O-template .productView-parallax-mobile  .productView-details{
  padding: 10px;
  }
  .dynamic-Product-page-3\.O-template h1.productView-title {
  color: #086B92;
  font-family: Nunito;
  font-size: 22px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
  }
  .dynamic-Product-page-3\.O-template p.product-page-one-liner {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 8px;
  color: #29353C;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  }
  .dynamic-Product-page-3\.O-template .health-benefits_thirdO{
  margin: 10px auto 20px;    
  gap: 8px;
  }
  .dynamic-Product-page-3\.O-template .health-benefits_thirdO span.content_benifits{
    font-size: 14px;
  }
  
  .dynamic-Product-page-3\.O-template .discount-percent-thirdO{
  font-size: 11px;padding: 0px 7px;width: 65px;
  }
  .dynamic-Product-page-3\.O-template .product-details #custom_proce_manage span {
    color: #e95144!important;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 26.4px;
}
  .dynamic-Product-page-3\.O-template .promo-banner__note{
  font-size: 15px;    margin-bottom: 5px;
  }
  .dynamic-Product-page-3\.O-template img.promo-banner__avatar1 {
  width: 180px;
  }
  .dynamic-Product-page-3\.O-template .promo-banner__hsa-label{
  font-size: 17px;
  }
  .dynamic-Product-page-3\.O-template .promo-banner__clinician-info{
  gap: 1px;
  }
  .dynamic-Product-page-3\.O-template .tabs .tab .tab-title{
  padding-bottom: 7px;
    color: #000;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400 !important;
        line-height: normal;
  }
  .dynamic-Product-page-3\.O-template div#tab-shipping-amp-returns-mobile,
  .dynamic-Product-page-3\.O-template .contents-horizontal .toggle-content,
  .dynamic-Product-page-3\.O-template .tabs-contents .toggle-content {
  color: #374650;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300!important;
  line-height: 1.4;
  }
  .dynamic-Product-page-3\.O-template .tabs-contents .toggleLink,
  .dynamic-Product-page-3\.O-template  .tabs .tab .tab-title {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 9px;
  padding-bottom: 12px;
  }
  .dynamic-Product-page-3\.O-template .vertical product-details{
  padding-top: 5px;
  }
  .dynamic-Product-page-3\.O-template .health-benefits_thirdO img.health_benefits_img {
  max-width: 18px;
  }
  .dynamic-Product-page-3\.O-template .productView-nav .slick-next{
  right: 25px !important;
  }
  .dynamic-Product-page-3\.O-template .productView-nav .slick-prev{
  left: 25px !important;
  }
  .productView-image.fit-unset .productView-img-container img:not(.zoomImg){
    max-width: 90%;
  }
}
 
.total_amount_checkoutdd#custom_proce_manage {
    display: grid;
}
@media (max-width: 769px){

.dynamic-Product-page-3\.O-template .productView-stickyCart.style-1 .sticky-right .sticky-actions .empty-add-cart-button-wrapper{
  display: flex;
  justify-content: center;
}
 .dynamic-Product-page-3\.O-template .productView-stickyCart.style-1 .sticky-actions .quantity__group{
    display: block;
  }
 .dynamic-Product-page-3\.O-template .productView-stickyCart.style-1 .sticky-right .sticky-actions .button{
    width: auto;
  }
.dynamic-Product-page-3\.O-template .health-benefits_thirdO img.health_benefits_img {
    width: 20px;
}
  .dynamic-Product-page-3\.O-template .health-benefits_thirdO span.content_benifits{
        font-size: 15px;
  }
  
.dynamic-Product-page-3\.O-template .productView-image.fit-unset .productView-img-container{
padding-top: 15px;
}
.dynamic-Product-page-3\.O-template .health-benefits_thirdO span.content_benifits {
color: #29353c;
font-size: 16px;
}
.dynamic-Product-page-3\.O-template .faq-container .faq-header h2,
.dynamic-Product-page-3\.O-template .instagram-slide .halo-block-header .title,
.dynamic-Product-page-3\.O-template .halo-block-header .title{
text-align: center;
font-family: Lato;
font-size: 28px !important;
font-style: normal;
font-weight: 700;
line-height: 1.2;
margin-bottom: 10px;
margin-top: 0;
}
.dynamic-Product-page-3\.O-template .product-default .productView ,
.dynamic-Product-page-3\.O-template .vertical.product-details{
padding-top: 0px !important;
}

.dynamic-Product-page-3\.O-template .productView-images-wrapper .productView-img-container .media img{
border-radius: 35px !important;
}

.dynamic-Product-page-3\.O-template .instagram-slide .halo-block-header,
.dynamic-Product-page-3\.O-template .instagram-slide .halo-block-header .title{
margin-bottom: 0px; 
}
.dynamic-Product-page-3\.O-template .sections-instagram-block .instagram-slide{
padding-top: 30px;
padding-bottom: 30px;
}
.dynamic-Product-page-3\.O-template .instagram-slide .halo-row .halo-item{
margin-right: 0px;
margin-left: 0px;
}
.dynamic-Product-page-3\.O-template .productView-nav .slick-prev{
transform: translateY(0) rotate(0);
top: 50%;
left: 0;
transform: translate(0%, -80%);
}
.dynamic-Product-page-3\.O-template .productView-nav .slick-next {
right: 0;
top: 50%;
transform: translate(0%, -80%);
}
.dynamic-Product-page-3\.O-template .productView-image-wrapper button {
background: #006a9175;
border-radius: 50%;
opacity: .5;
}
.dynamic-Product-page-3\.O-template .productView-image-wrapper button:hover {
background: #000000;
border-radius: 50%;
opacity: .7;
}
.dynamic-Product-page-3\.O-template .productView-image-wrapper button svg{
color: #fff !important;
fill: #fff !important;
fill-opacity: 1;
stroke: #transparent!important;
}
 .dynamic-Product-page-3\.O-template label#seal-purchase-options-label {
    color: #4D4D4D;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
}
 
 .dynamic-Product-page-3\.O-template  .productView-action{
    display:block!important;
  }
  .dynamic-Product-page-3\.O-template .productView-image-wrapper:before{
    width: 350px;
    height: 195px;
  }
}
@media(max-width:1025px){
.dynamic-Product-page-3\.O-template h1.productView-title{
font-size: 30px;
line-height: 1.2;
}
.dynamic-Product-page-3\.O-template .bundle-product-list .slick-arrow.slick-prev{
right: 0px !important;
}
.dynamic-Product-page-3\.O-template .bundle-product-list .slick-arrow.slick-next {
left: auto;
right: -5%!important;;
}
}
